body{
    margin:0;
    font-family: Arial, sans-serif;
    background: black;
    color:white;
    height:100vh;
    display: flex;
    justify-content:  center;
    align-items: center;
    background-image: radial-gradient(circle at center, rgba(0,0,50,0.8) 0% , transparent);
}
.login-cont{
    background:  #111;
    padding: 30px;
    border-radius: 12px;
    width:350px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.6);
}

.create-title{
    font-size: 20px;
    font-weight:bold;
    margin-bottom: 2-px;
}
.google-btn,
.facebook-btn{
    width: 45%;
    margin:5px;
    padding:10px;
    border:none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
.google-btn{
    background: #444;
    color: white;
}
.facebook-btn{
    background: #444;
    color: white;
}
.or-label{
    display: block;
    margin:15px 0;
    color:gray;
}
.login-create-form{
    text-align:left;
    margin-top:15px;
}
.login-create-form div{
    margin:10px 0 5px;
    font-size : 14px;
    color:#aaa;
}
.login-create-form span{
color: red;
}
.email-inpt,
.password-inpt{
    width:100%;
    padding:10px;
    border-radius: 6px;
    border:1px soild #444;
    background: transparent;
    color: white;
    margin-bottom: 15px;
}
.login-btn {
background: #2563eb;
color: white;
border: none;
padding: 10px;
border-radius: 6px;
cursor: pointer;
font-weight: bold;
margin-top: 10px;
}


.login-btn:hover {
background: #1e4fd1;
}
